body{
    background-color: #81ABBC !important;
    text-align: center !important;
}

.park-map{
    position: relative;
    scale: 90%;
}

.landscape{
    width: 90%;
    padding: 16px 0;
    border-radius: 35px;

}

.hiking{
    width: 90%;
    padding: 16px 0;
    border-radius: 35px;

}

.trees{
    width: 90%;
    padding: 16px 0;
    border-radius: 35px;

}

.playground{
    width: 90%;
    padding: 16px 0;
    border-radius: 35px;
}